---
---
$primaryColor: #9a2462;
$titleFont: 'BlinkMacSystemFont';

.header {
    &__nav {
        .nav {
            &__list {
                display: flex;
                align-items: center;
                list-style: none;
            }
            &__item {
                margin: 0px 20px;
            }
            &__link {
                color: $primaryColor;
                font-weight: bold;
                font-size: 20px;
                &:hover {
                    color: #71acd7;
                }
            }
        }
    }
}

@import "{{ site.theme }}";